.header-spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  background-color: white !important;
}

.profile-icon{
  width: 40px;
  height: inherit;
}

.logo-icon{
  width: 45px;
  height: inherit;
}



.header-icon{
  border-radius: 10px !important;
  margin-left: 1rem;
}